@use "./variables" as *;
@use "./mixins" as *;

html {
  background-color: $primaryColor;
  color: $textColor;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $textColor;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

#App {
  position: relative;
}

h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: (68 / 64);
  letter-spacing: 0.5px;
  margin: 35px auto 30px;

  @include mobile {
    font-size: 35px;
    text-align: center;
    margin: 5% 10%;
  }
}
