@use "./variables" as *;
@use "./mixins" as *;

.categoryPage {
  @include mobile{
    h2{
      font-size: 35px;
      font-weight: 600
    }
  }

  @include flexDefault;
  .productSelections {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
  }
}

.productCard {
  display: flex;
  gap: 15px;

  //media query
  @include mobile{
    flex-direction: column;
  }

  .prodCards {
    @include cardStyle;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
    .imgContainer {
      flex-basis: 50%;
    }
    .textContainer {
      flex-basis: 50%;
      padding: 20px;
      padding-bottom: 40px;
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: (24 / 16);
      }
      h3 {
        font-size: 25px;
        font-weight: 400;

        @include mobile{
          font-size: 20px;
        }
      }
    }
    .swatchContainer {
      position: absolute;
      bottom: -1px;
    }
  }
}