@use "./variables" as *;
@use "./mixins" as *;

footer {
  width: 100%;
  @include mobile{
    bottom:-65%;
  }
  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e1e1e1;
    margin: 0 70px;


    @include mobile{
      flex-direction: column;
    }
   
    h3 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
  }
}
