@use "./variables" as *;
@use "./mixins" as *;

.landingPage {
  header {
    @include flexDefault;
    .shortDesc {
      font-size: 18px;
      line-height: (24 / 18);
      max-width: 600px;
    }
  }

  .categories {
    @include flexDefault;
    ul {
      padding-left: 0;
    }
    h3 {
      font-size: 24px;
      line-height: (32 / 24);
    }
  }

  .categoryCard {
    display: flex;
    gap: 15px;
    .catCards {
      @include cardStyle;
      h4 {
        font-size: 32px;
        line-height: (40 / 32);
        font-weight: 400;
      }
      .catCardsImg {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
}
