@use "./variables" as *;

.mainNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $secondaryColor;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 65px;
  position: relative;
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navLogo {
    color: $logoColor;
    h1 {
      margin: 0 auto;
      font-size: 40px;
      line-height: (48.41 / 40);
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    li {
      font-size: 20px;
      line-height: (28 / 20);
    }
    .toggle {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .switch {
    margin-left: 10px;
  }
}
