html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: #f5f5f5;
  color: #222222;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222222;
}
a:hover, a:focus {
  text-decoration: underline;
}

#App {
  position: relative;
}

h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 1.0625;
  letter-spacing: 0.5px;
  margin: 35px auto 30px;
}
@media (max-width: 450px) {
  h2 {
    font-size: 35px;
    text-align: center;
    margin: 5% 10%;
  }
}

.mainNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fefefe;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 65px;
  position: relative;
}
@media (max-width: 760px) {
  .mainNav {
    padding: 10px 20px;
  }
}
.mainNav .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainNav .navLogo {
  color: #333333;
}
.mainNav .navLogo:hover, .mainNav .navLogo:focus {
  text-decoration: none;
}
.mainNav .navLogo h1 {
  margin: 0 auto;
  font-size: 40px;
  line-height: 1.21025;
  transition: 0.5s;
}
@media (max-width: 450px) {
  .mainNav .navLogo h1 {
    font-size: 30px;
  }
}
.mainNav .navLogo h1:hover, .mainNav .navLogo h1:focus {
  text-decoration: none;
  transform: scale(1.05);
}
.mainNav ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
}
.mainNav ul li {
  font-size: 20px;
  line-height: 1.4;
}
.mainNav .switch {
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 450px) {
  .mainNav .switch {
    flex-direction: column-reverse;
  }
}
@media (max-width: 450px) {
  .mainNav .switch label {
    margin-top: 10px;
  }
}
.mainNav .switch p {
  margin: 0 auto;
}
@media (max-width: 450px) {
  .mainNav .switch p {
    font-size: 13px;
  }
}

.landingPage {
  min-height: 85vh;
}
.landingPage header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landingPage header .shortDesc {
  font-size: 18px;
  line-height: 1.3333333333;
  max-width: 737px;
  text-align: center;
}
@media (max-width: 450px) {
  .landingPage header .shortDesc {
    margin: auto 5%;
  }
}
.landingPage .categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landingPage .categories ul {
  padding-left: 0;
}
.landingPage .categories h3 {
  font-size: 24px;
  line-height: 1.3333333333;
}
.landingPage .categoryCard {
  display: flex;
  gap: 15px;
}
@media (max-width: 450px) {
  .landingPage .categoryCard {
    flex-direction: column;
  }
}
.landingPage .categoryCard .catCards {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 2px solid #000000;
  width: 310px;
  height: 366px;
  text-align: center;
  background-color: #fff;
  transition: 0.3s;
}
.landingPage .categoryCard .catCards:hover, .landingPage .categoryCard .catCards:focus {
  transform: scale(1.03);
  cursor: pointer;
}
.landingPage .categoryCard .catCards a:hover, .landingPage .categoryCard .catCards a:focus {
  text-decoration: none;
}
.landingPage .categoryCard .catCards h4 {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 400;
}
@media (max-width: 450px) {
  .landingPage .categoryCard .catCards h4 {
    font-size: 25px;
  }
}
.landingPage .categoryCard .catCards .catCardsImg {
  margin-top: 10px;
  margin-bottom: 20px;
}

.categoryPage {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 450px) {
  .categoryPage h2 {
    font-size: 35px;
    font-weight: 600;
  }
}
.categoryPage .productSelections {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
}

.productCard {
  display: flex;
  gap: 15px;
}
@media (max-width: 450px) {
  .productCard {
    flex-direction: column;
  }
}
.productCard .prodCards {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 2px solid #000000;
  width: 310px;
  height: 366px;
  text-align: center;
  background-color: #fff;
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.3s;
}
.productCard .prodCards:hover, .productCard .prodCards:focus {
  transform: scale(1.03);
  cursor: pointer;
}
.productCard .prodCards a:hover, .productCard .prodCards a:focus {
  text-decoration: none;
}
.productCard .prodCards .imgContainer {
  flex-basis: 50%;
}
.productCard .prodCards .textContainer {
  flex-basis: 50%;
  padding: 20px;
  padding-bottom: 40px;
}
.productCard .prodCards .textContainer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.productCard .prodCards .textContainer h3 {
  font-size: 25px;
  font-weight: 400;
}
@media (max-width: 450px) {
  .productCard .prodCards .textContainer h3 {
    font-size: 20px;
  }
}
.productCard .prodCards .swatchContainer {
  position: absolute;
  bottom: -5px;
}

.productPage {
  display: flex;
  margin: 5% 10%;
  gap: 6%;
}
@media (max-width: 450px) {
  .productPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.productPage .imagePart {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 10px;
}
@media (max-width: 450px) {
  .productPage .imagePart {
    width: 100%;
  }
}
.productPage .imagePart .displayImage img {
  width: 100%;
  height: 100%;
}
.productPage .imagePart .imageCarousel div {
  display: flex;
  justify-content: space-between;
}
.productPage .imagePart .imageCarousel div img {
  width: 45px !important;
  height: 45px !important;
}
.productPage .imagePart .imageCarousel div img:hover, .productPage .imagePart .imageCarousel div img:focus {
  cursor: pointer;
}
.productPage .textPart {
  display: flex;
  flex-direction: column;
  width: 65%;
}
@media (max-width: 450px) {
  .productPage .textPart {
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 450px) {
  .productPage .textPart .mainInfo {
    display: none;
  }
}
.productPage .textPart .mainInfo p {
  margin: 0;
}
.productPage .textPart .mainInfo h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  margin: 15px auto;
}
.productPage .textPart .dropdownMenu {
  width: 40%;
}
@media (max-width: 450px) {
  .productPage .textPart .dropdownMenu {
    width: 100%;
  }
}
.productPage .textPart .dropdownMenu .css-1xc3v61-indicatorContainer:hover, .productPage .textPart .dropdownMenu .css-1xc3v61-indicatorContainerfocus {
  cursor: pointer;
}
.productPage .textPart .colorTabs {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media (max-width: 450px) {
  .productPage .textPart .colorTabs {
    margin-bottom: 20px;
    margin-top: 40px;
  }
}
.productPage .textPart .colorTabs .tab {
  border: 1px solid #222222;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
  padding: 7px;
}
.productPage .textPart .colorTabs .tab:hover, .productPage .textPart .colorTabs .tab:focus {
  cursor: pointer;
}
.productPage .textPart .colorTabs .active {
  background-color: rgb(232, 231, 231);
}
.productPage .textPart .colorTabs h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 450px) {
  .productPage .textPart .colorTabs h4 {
    font-size: 14px;
  }
}
.productPage .textPart .tabContent {
  border: 1px solid #222222;
  border-radius: 8px;
  padding: 10px 13px;
  line-height: 24px;
  background: #ffffff;
  margin-bottom: 8%;
}
@media (max-width: 450px) {
  .productPage .textPart .tabContent p {
    font-size: 12px;
    line-height: 16px;
  }
}
.productPage .textPart .otherInfo .accordionContent {
  border-bottom: 1px solid #ababab;
}
.productPage .textPart .otherInfo .accordionContent p {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 450px) {
  .productPage .textPart .otherInfo .accordionContent p {
    font-size: 12px;
    line-height: 16px;
  }
}
.productPage .textPart .otherInfo h3 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 450px) {
  .productPage .textPart .otherInfo h3 {
    font-size: 16px;
  }
}
.productPage .textPart .otherInfo .accordionButton {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #333;
}
.productPage .mobileMainInfo {
  display: none;
}
@media (max-width: 450px) {
  .productPage .mobileMainInfo {
    display: block;
  }
  .productPage .mobileMainInfo p {
    font-size: 14px;
  }
  .productPage .mobileMainInfo h3 {
    font-size: 22px;
  }
}

.theCreatorsPage {
  background-color: #d0d5dd;
  min-height: 85vh;
}
.theCreatorsPage .wrapper {
  max-width: 1728px;
  width: 90%;
  margin: 0 auto;
}
.theCreatorsPage .wrapper .link {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-top: 50px;
  transition: 0.3s;
}
.theCreatorsPage .wrapper .link:hover, .theCreatorsPage .wrapper .link:focus {
  text-decoration: none;
  transform: translateX(-5px);
}
.theCreatorsPage .wrapper .link span {
  font-size: 35px;
  margin-right: 15px;
}
.theCreatorsPage .wrapper .link p {
  padding-top: 4px;
}
.theCreatorsPage .wrapper h2 {
  font-size: 32px;
  margin-top: 0;
  padding: 20px 0;
  text-align: center;
}
.theCreatorsPage .creatorsGrid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;
  padding-left: 0;
}
@media (max-width: 1350px) {
  .theCreatorsPage .creatorsGrid {
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}
.theCreatorsPage .creatorsGrid .creatorCard {
  background-color: #fefefe;
  width: 232px;
  height: 432px;
  padding: 20px 16px;
  border-radius: 4px;
  position: relative;
}
.theCreatorsPage .creatorsGrid .creatorCard .imgContainer img {
  width: 200px;
  height: 200px;
}
.theCreatorsPage .creatorsGrid .creatorCard .textContainer {
  text-align: center;
}
.theCreatorsPage .creatorsGrid .creatorCard .textContainer h3 {
  font-size: 16px;
}
.theCreatorsPage .creatorsGrid .creatorCard .textContainer h3 span {
  font-size: 14px;
  font-weight: 400;
}
.theCreatorsPage .socialsList {
  display: flex;
  gap: 10px;
  padding-left: 0;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.theCreatorsPage .socialsList .socials .icon {
  width: 32px;
  transition: 0.3s;
}
.theCreatorsPage .socialsList .socials .icon:hover, .theCreatorsPage .socialsList .socials .icon:focus {
  transform: scale(1.15);
}

footer {
  width: 100%;
}
footer .footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e1e1e1;
  margin: 0 70px;
  padding-top: 0.5%;
}
@media (max-width: 450px) {
  footer .footerContainer {
    flex-direction: column;
  }
}
footer .footerContainer h3 {
  font-size: 14px;
}
footer .footerContainer p {
  font-size: 12px;
}/*# sourceMappingURL=styles.css.map */